{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('app_article_new') }}"
           id="new-article"
           class="align-self-end p-2 m-3 bg-secondary rounded-3" style="font-size: 1.5rem;">Créer un nouvel article</a>
    {% endif %}

    <div class="container d-flex flex-column mb-5">
        <div class="mb-2">
            <p class="border-bottom border-primary">Nouveautés</p>
        </div>
        {% if articles is empty %}
            <h2 class="text-center">Il n'y a pas d'articles pour le moment. Revenez plus tard !</h2>
        {% else %}
            <div class="d-flex" style="flex-wrap: wrap">
                {% for article in articles %}
                    <div class="card m-3 auto" style="width: 18rem;">
                        <img src="{{ asset('uploads/images/'~article.image) }}" class="card-img-top"
                             style="max-height: 20vh;" alt="{{ article.title }}">
                        <div class="card-body bg-secondary">
                            <h3 class="card-title text-center">{{ article.title }}</h3>
                            <p class="card-text text-center">{{ article.content }}</p>
                            <a href="{{ path('app_article_show', {'id': article.id}) }}"
                               class="btn btn-primary align-items-center">Voir l'article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}



